{% extends 'Base.twig' %}

{% block title %}Les catégories{% endblock %}

{% block content %}
    <h1>Les categories</h1>
    <ul>
        {% for cat in categories %}
            <li>
                <a href="{{ url_for('categorie', {'id': cat.id}) }}">{{ cat.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}