{% extends 'Base.twig' %}

{% block title %}Les catégories{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold text-center pb-3">Les categories</h1>
    <ul class="text-center">
        {% for cat in categories %}
            <li class="block px-4 py-2 rounded-md text-gray-700 hover:bg-gray-100 hover:text-blue-500">
                <a href="{{ url_for('categorie', {'id': cat.id}) }}">{{ cat.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}