{% extends 'Base.twig' %}

{% block title %}Les catégories{% endblock %}

{% block content %}
    <div class="max-w-xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4">
            Prestations de la catégorie : <span class="text-blue-600">{{ categorie.libelle }}</span>
        </h2>
        <ul class="list-disc list-inside space-y-2">
            {% for prestation in prestations %}
                <li>
                    <span class="font-bold text-gray-800">{{ prestation.libelle }}:</span>
                    <span class="text-gray-700">{{ prestation.description }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}