<nav class="bg-white border-b border-gray-200 px-4 py-3 mb-3 shadow-md">
    <ul class="hidden md:flex space-x-6 text-gray-700 font-medium">
        <li class="hover:text-blue-500"><a href="{{ url_for('home') }}">Accueil</a></li>
        <li class="hover:text-blue-500"><a href="{{ url_for('categories') }}">Catégories</a></li>
    </ul>
</nav>