{% extends 'Base.twig' %}

{% block content %}
    <h1 class="text-4xl font-bold text-center">Bienvenue sur Giftbox</h1>
    <p class="text-center mt-4">Votre plateforme de gestion de cadeaux d'entreprise.</p>
{% endblock %}