{% extends 'Base.twig' %}

{% block title %}La Catégorie {{ libelle }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-center uppercase">{{ libelle }}</h1>
    <p class="text-2xl text-center">{{ description }}</p>
    <a class="hover:text-blue-500" href="{{ url_for('prestations_by_categorie', {'id': id}) }}">Prestations associés</a>
{% endblock %}