<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Giftbox{% endblock %}</title>
</head>
<body>
    {% include 'components/NavBar.twig' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'components/Footer.twig' %}
</body>
</html>
